{% extends 'partials/base.html' %}

{% block title %} Log In {% endblock %}

{% load crispy_forms_tags %}
{% block content %}

    <div class="container mt-5 pt-4">
        <div class="col-6 mx-auto">
            <h3 class="text-center">Login</h3>
            {% if message %}
            <div class="alert alert-{{class}}">{{message}}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-12">
                        <input type="text" placeholder="email" class="form-control" name="email" id="">
                    </div>
                </div>
    
                <p>Don't have account <a href="{% url 'users-signup' %}">Register</a></p>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    
    </div>

{% endblock %}